/*main element*/
*{
    margin: 0;
    box-sizing: border-box;
}
body {

}
header{
    z-index: 11;
    background: url(../asset/images/personal-intro-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin-top: -70px;
}

nav {
    z-index: 100;
    background-color: transparent !important;
}

main {
    z-index: 10;
    height: 100vh;
    width: 100%;
    margin-bottom: 150px;
    position: relative;
    background-color: white;
}

footer {
    z-index: -1;
    height: 150px;
    width: 100%;
    background-color: lightgray;
    position: fixed;
    bottom: 0%;
}

/*classes*/
.navbar-sticky-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
    color: dimgray;

    & div.container-fluid > div.brands a.navbar-brand,
    & div.container-fluid > div.brands span.divider {
        color: dimgray;
    }

    & div.container-fluid > div.collapse ul.navbar-nav li.nav-item a {
        color: dimgray;
    }
}

.navbar-brand {
    font-size: 24px;
    color: white;
}

.navbar-title {
    display: flex;
    align-items: center;
}
.divider{
    color: white;
    font-size: 24px;
}

.navbar-contact {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.3) !important;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

.navbar-contact:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.navbar-toggler {
    padding: 0.5rem 0 !important;
}

.navbar-nav > li.nav-item .nav-link {
    position: relative;
}

.navbar-nav > li.nav-item .nav-link:after {
    display: none;
}

.navbar-nav > li.nav-item a.nav-link {
    position: relative;
    color: white;
}

.navbar-nav > li.nav-item a.nav-link:after {
    content: " ";
    position: absolute;
    background: linear-gradient(to right, #fff, #01cd74) fixed !important;
    top: 100%;
    margin-top: 4px;
    border-radius: 3px;
    left: 0%;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transition: transform 0.2s;
    transform-origin: right center;
    box-sizing: border-box;
    display: block
}

.navbar-nav > li.nav-item:hover a.nav-link:after, .navbar-nav > li.nav-item.hover a.nav-link:after {
    transform: scaleX(1);
    transform-origin: left center;
}

.navbar-nav > li.nav-item:hover, .navbar-nav > li.nav-item.hover {
    transform: translateY(0px);
    opacity: 1;
}

/*Header*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    position: absolute;
}
.gradient:after{
    content: '';
    background: linear-gradient(-45deg,rgba(35, 189, 232, 0.7),rgba(12, 54, 210, 0.75));
    position: fixed;
    height: calc(100vh - 150px);
    width: 100vw;
}
.index-image {
    margin-top: -5vh;
    margin-left: 10vh;
}
.index-image > img {
    width: 100%;
    max-width: 70vh;
}
.shape-card{
    margin: 30vh 0 0 10vh !important;
    z-index: 12;
}
.flex-card > div.card {
    width: 100%;
    max-width: 40vh;
    &:hover{
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05), 0 1.5rem 2.2rem rgba(0, 0, 0, 0.1) !important;
    }
}
a.btn-download{
    padding: 0.5rem 1.5rem;
    margin: 1rem 0.25rem;
    border: 1px solid;
    border-radius: 2vh;
    text-decoration: none;
    color: #0389ff;
    background-color: rgba(105, 185, 255, 0.15);
    cursor: pointer;
    &:hover{
        color: #006ecf;
        background-color: #55afff
    }
}

svg{
    position: absolute;
    width: 100vw;
    bottom: 150px;
    left: 0;
    overflow: visible;
}

/*Main*/
.content {
    border: 1px solid;
    padding: 5rem 2rem;
}


/*Footer*/
footer > div.container {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

footer > div.container > div.line-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem;
    width: 100%;
    border-bottom: 2px solid white;
}

footer > div.container > div.line-2 {
    padding-top: 1rem;
}

footer > div.container > div.line-1 a {
    padding: 1rem 5rem;
    color: gray;
    text-decoration: none;
}


/*custom media*/

@media only screen and (max-width: 1080px){
    .index-image{
        margin-left: 0;
    }
    .index-image img{
        width: 80%;
        margin-left: 10%;
    }
}
@media only screen and (max-width: 768px) {
    nav.navbar > div.container-fluid{
        padding: 0;
        margin: 0 1rem !important;
    }
    header{
        margin-top: -30vh;
    }
    footer > div.container > div.line-1 a {
        padding: 0.5rem !important;
    }
    .index-image{
        margin-left: 0;
    }
    .index-image > img{
        width: 100%;
        margin-top: 40vh;
    }
}


